body {
    margin: 39px 140px;
    font-family: "Encode Sans";
}

.header__title {
    color: #4D4D4D;
    font-size: 24px;
    font-weight: 500;	
    line-height: 30px;
}

.header__subtitle {
    color: #BA0000;
    font-family: "Encode Sans Condensed";	
    font-size: 16px;
    font-weight: 300;	
    line-height: 20px;
    margin-top: 6px;
}


//
// addHeaderBorder.scss
.add-border {
	height: 40px;
	width: 100vw;
    background-color: #D8D8D8;
    margin: 41px -140px;
}
// addHeaderBorder.scss
//


//
// addTitle.scss
.add-title__title {
    color: #4D4D4D;
    font-size: 16px;
    font-weight: bold;	
    line-height: 20px;

    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 12px;
}
// addTitle.scss
//

//
// TitledInput.scss

.titled-input {
    display: flex;
    align-items: center;
}

.titled-input__title {
    color: #BA0000;	
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    width: 129px;
}

input {
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    height: 40px;
}

.titled-input {
    input {
        width: 500px;
        padding: 12px 22px;
        color: #4D4D4D;
        font-size: 14px;
        line-height: 17px;
        margin: 20px 0;
    }
}

.signin-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 77px;
}

.titled-input input[type=submit] {
    height: 40px;	
    width: 216.67px;
    border-radius: 20px;	
    background-color: #BA0000;

    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    text-align: center;

    padding-top: 4px;
    padding-bottom: 8px;

    margin-top: 87px;
}


// TitledInput.scss
//




//
// signin.scss

.button-secondary  {
    font-size: 14px;
    line-height: 17px;
    color: #4d4d4d;
    margin: 0px 38px;
}

.signin-form__button-container {
    margin-top: 32px;
    transform: translateX(64.5px);
}

// signin.scss
//

//
// addHeaderNav.scss

.add-nav {
    .add-nav__items {
        padding-bottom: 13px;
        border-bottom: 1px solid #E6E6E6;
        display: flex;
        justify-content: center;

        .link {
            margin: 0px 23px;
            // text-decoration-color: #BA0000;
            text-decoration-color: transparent;
        }
        
        .nav-selected {
            .add-nav__text {
                color: #BA0000;
                border-bottom: 3px solid #BA0000;
            }
        }

        .add-nav__text {
            border-bottom: 0px solid transparent;
            padding-bottom: 13px;
            color: #4D4D4D;
            font-size: 16px;
            font-weight: bold;	
            line-height: 20px;	
            text-align: center;
            transition: all .3s ease;

            &:hover {
                color: #BA0000;
                border-bottom: 2px solid #BA0000;
            }
        }


    }
}

// addHeaderNav.scss
//


//
// addBodyContainer.scss

.add-body-container {
	box-sizing: border-box;
	height: 665px;
	width: 961px;
	border: 1px solid #E6E6E6;
	border-radius: 5px;
	background-color: #FFFFFF;
}

.newsletter {

    display: flex;
    margin-top: 47px;

    .newsletter__sidebar {
        margin-right: 20px;
        width: 161px;
        height: 100%;
    }

    .newsletter__body-content {
        width: 961px;
    }

}
// addBodyContainer.scss
//

// newsletterbodycontent.scss

.newsletter-body__image {
    position: relative;

    div {
        color: #FFFFFF;
        font-size: 40px;
        font-weight: bold;
        line-height: 50px;
        text-align: center;

        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
}

.newsletter-body__body {
	color: #4D4D4D;
	font-size: 16px;
    line-height: 20px;
    padding: 63px 60.5px;
}

// newsletterbodycontent.scss



//infobox.scss

.info-box {
    box-sizing: border-box;
    height: 161px;
    width: 161px;
    border: 1px solid #BA0000;
    border-radius: 5px;

    color: #BA0000;
    font-weight: bold;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .info-box__day {
        font-size: 65px;
        line-height: 81px;
        margin-bottom: 8px;
    }
    .info-box__year {
        font-size: 18px;
        line-height: 23px;
    }
}
//infobox.scss